src/app/components/ConfirmationStep.tsx
src/app/components/PaymentSection.tsx
src/app/components/PlayerSection.tsx
src/app/components/UnifiedRegistrationForm.tsx
src/app/emails/ConfirmationEmail.ts
src/app/layout.tsx
src/app/page.tsx
src/app/registration-complete/ConfirmationInfo.tsx
src/app/registration-complete/ConfirmationStepWrapper.tsx
src/app/registration-complete/page.tsx
src/app/api/checkout-session-info/route.ts
src/app/api/create-clerk-user/route.ts
src/app/api/create-registration/route.ts
src/app/api/register/route.ts
