@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
@import "tailwindcss";

.dela {
  font-family: "Gabarito", Arial, Helvetica, sans-serif !important;
}

.sectionHero {
  background-image: url("/bg-shot.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
  /* Parallax effect: background moves slower than scroll */
}

.sectionForm {
  background-image: url("/bg-form.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
  min-height: 100vh;
  /* Ensures black background is visible where image doesn't cover */
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select,
input[type="number"] {
  border-bottom: 2px solid rgb(122, 122, 122);
  background-color: black;
  padding-left: 0;
}
label.forText {
}
