@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import "tailwindcss";
:root {
  --precision-red: #e80707;
}

body {
  @apply font-sans;
}
p {
  color: rgb(237, 235, 235);
}
.dela {
  font-family: "Dela Gothic One", Arial, Helvetica, sans-serif !important;
}

.sectionHero {
  background-image: url("/bg-shot.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
  /* Parallax effect: background moves slower than scroll */
}

.sectionForm {
  background-image: url("/bg-form.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
  min-height: 100vh;
  /* Ensures black background is visible where image doesn't cover */
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select,
input[type="number"] {
  border-bottom: 2px solid rgb(122, 122, 122);
  @apply rounded-sm;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus,
input[type="number"]:focus {
  @apply outline-none bg-neutral-900;
  border-bottom: 2px solid var(--precision-red);
}
label.forText {
}
.stepWrapper {
  @apply bg-neutral-800;
}
